{
  "logger": {
    "console": {
      "type": "Console",
      "options": {
        "level": "${CONFIG_LOGGER_CONSOLE_OPTIONS_LEVEL}",
        "colorize": false
      }
    },
    "file": {
      "type": "File",
      "options": {
        "filename": "${CONFIG_LOGGER_FILE_OPTIONS_FILENAME}",
        "json": false,
        "level": "${CONFIG_LOGGER_FILE_OPTIONS_LEVEL}",
        "timestamp": true
      }
    }
  }
  "dynamodb": {
      "region": "CONFIG_DYNAMODB_REGION",
      "trackingUrlTable": "${CONFIG_TRACKING_URL_TABLE_NAME}",
      "trackerIndex": "${CONFIG_TRACKERS_INDEX_NAME}"
  }
}
